<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-chambre-heading" jhiTranslate="hospitalmanagerApp.chambre.home.createOrEditLabel">Create or edit a Chambre</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!chambre.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="chambre.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.chambre.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="chambre.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.chambre.statut" for="field_statut">Statut</label>
                    <input type="text" class="form-control" name="statut" id="field_statut"
                        [(ngModel)]="chambre.statut" required/>
                    <div [hidden]="!(editForm.controls.statut?.dirty && editForm.controls.statut?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.statut?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.chambre.surface" for="field_surface">Surface</label>
                    <input type="text" class="form-control" name="surface" id="field_surface"
                        [(ngModel)]="chambre.surface" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.chambre.niveau" for="field_niveau">Niveau</label>
                    <select class="form-control" id="field_niveau" name="niveau" [(ngModel)]="chambre.niveau" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="niveauOption.id === chambre.niveau?.id ? chambre.niveau : niveauOption" *ngFor="let niveauOption of niveaus; trackBy: trackNiveauById">{{niveauOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.chambre.typeChambre" for="field_typeChambre">Type Chambre</label>
                    <select class="form-control" id="field_typeChambre" name="typeChambre" [(ngModel)]="chambre.typeChambre" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typeChambreOption.id === chambre.typeChambre?.id ? chambre.typeChambre : typeChambreOption" *ngFor="let typeChambreOption of typechambres; trackBy: trackTypeChambreById">{{typeChambreOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
