<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-docteur-heading" jhiTranslate="hospitalmanagerApp.docteur.home.createOrEditLabel">Create or edit a Docteur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!docteur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="docteur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="docteur.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="docteur.prenom" required/>
                    <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="docteur.nom" required/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="docteur.tel" required/>
                    <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="docteur.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.service" for="field_service">Service</label>
                    <select class="form-control" id="field_service" name="service" [(ngModel)]="docteur.service" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="serviceOption.id === docteur.service?.id ? docteur.service : serviceOption" *ngFor="let serviceOption of services; trackBy: trackServiceById">{{serviceOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.docteur.specialite" for="field_specialite">Specialite</label>
                    <select class="form-control" id="field_specialite" name="specialite" [(ngModel)]="docteur.specialite" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="specialiteOption.id === docteur.specialite?.id ? docteur.specialite : specialiteOption" *ngFor="let specialiteOption of specialites; trackBy: trackSpecialiteById">{{specialiteOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
