<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-heading" jhiTranslate="hospitalmanagerApp.type.home.createOrEditLabel">Create or edit a Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!type.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="type.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.type.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                        [(ngModel)]="type.libelle" required/>
                    <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.libelle?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.type.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="type.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.type.etat" for="field_etat">Etat</label>
                    <input type="checkbox" class="form-control" name="etat" id="field_etat"
                        [(ngModel)]="type.etat" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.type.categorie" for="field_categorie">Categorie</label>
                    <select class="form-control" id="field_categorie" name="categorie" [(ngModel)]="type.categorieId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieOption.id" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.type.equipement" for="field_equipement">Equipement</label>
                    <select class="form-control" id="field_equipement" name="equipement" [(ngModel)]="type.equipementId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="equipementOption.id" *ngFor="let equipementOption of equipements; trackBy: trackEquipementById">{{equipementOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
