<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-patient-heading" jhiTranslate="hospitalmanagerApp.patient.home.createOrEditLabel">Create or edit a Patient</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!patient.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="patient.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.numPatient" for="field_numPatient">Num Patient</label>
                    <input type="text" class="form-control" name="numPatient" id="field_numPatient"
                        [(ngModel)]="patient.numPatient" required/>
                    <div [hidden]="!(editForm.controls.numPatient?.dirty && editForm.controls.numPatient?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numPatient?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="patient.prenom" required/>
                    <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="patient.nom" required/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.tel" for="field_tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="patient.tel" required/>
                    <div [hidden]="!(editForm.controls.tel?.dirty && editForm.controls.tel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tel?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                        [(ngModel)]="patient.adresse" required/>
                    <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.adresse?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="patient.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.patient.datenaiss" for="field_datenaiss">Datenaiss</label>
                    <div class="input-group">
                        <input id="field_datenaiss" type="text" class="form-control" name="datenaiss" ngbDatepicker  #datenaissDp="ngbDatepicker" [(ngModel)]="patient.datenaiss"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datenaissDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.datenaiss?.dirty && editForm.controls.datenaiss?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.datenaiss?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
