<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-serviceho-heading" jhiTranslate="hospitalmanagerApp.serviceho.home.createOrEditLabel">Create or edit a Serviceho</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!serviceho.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="serviceho.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.serviceho.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="serviceho.nom" required/>
                    <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.serviceho.departement" for="field_departement">Departement</label>
                    <select class="form-control" id="field_departement" name="departement" [(ngModel)]="serviceho.departement" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departementOption.id === serviceho.departement?.id ? serviceho.departement : departementOption" *ngFor="let departementOption of departements; trackBy: trackDepartementById">{{departementOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
